@import url(styles.css);

.about-me h1 {
    font-size: 44px;
    font-weight: 700;
}

.blog-banner {
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    color: var(--dark-color)
}

.blog-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-me {
    text-align: left;
}

.blog {
    display: flex;
    flex-direction: column;
}

.blog h1 {
    font-size: 30px;
    font-weight: 700;
}

.blogs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    margin-bottom: 50px;
}

.blog-card {
    border-bottom: 1px solid var(--light-color);
    padding: 20px 0;
}

.blog-card h3 {
    font-size: 26px;
    font-weight: 500;
}

.blog-card p {
    font-size: 16px;
}

.blog-banner a {
    text-decoration: none;
    color: var(--dark-color);
}

.border-right {
    color: var(--light-color);
}

@media (min-width: 1024px) {

    .blog-banner {
        margin-top: 3%;
    }

    .container {
        padding: 0 300px;
    }

    .blog {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        max-width: 1000px;
    }

    .border-p {
        padding-right: 2%;
    }

    .border-right {
        padding-left: 2%;
    }
}