@import url(styles.css);

.third-section-header h2{
    font-size: 30px;
    font-weight: 700;
    color: var(--dark-color);
    text-align: left;
}

.featured-works {
    gap: 20px;
    margin-bottom: 50px;
    padding: 0;
}

.featured-work {
    border-bottom: 1px solid var(--light-color);
    padding-bottom: 20px;
}

.featured-right a {
    text-decoration: none;
    color: var(--dark-color);
}

.third-banner {
    border-bottom: none;
}

@media (min-width: 1024px) {
    .container {
        padding: 0 300px;
    }
    
}